<div class="form-inline">
  <div class="form-group mb-2">
    <label class = "mr-2">Filtro do Tema: </label> <input 
    type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)] = "filtroLista">
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class = "btn btn-outline-primary"
          (click) = "alternarImagem()">
          
          <!-- Adiciona Icone do Olho -->
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>

          <!-- muda texto de acordo com a variável -->
          <!-- {{mostrarImagem ? 'ocultar' : 'mostrar'}} Imagem -->

        </button>
      </th>
      <th>ID</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos_filtrados">
      <td>
        <img *ngIf = "mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemURL}}"
        [style.width.px] = "imagemLargura"
        [style.margin.px] = "imagemMargem"
        >
      </td> 
      <td>{{evento.id}}</td>
      <td>{{evento.tema | uppercase}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td> <!-- USA O PIPE PARA FORMATAR A DATA-->
      <td>{{evento.qtdPessoas}}</td>

      <!-- Dependendo do tamanho da lista de lotes mostra uma info diferente -->
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group"> <!-- AGRUPA BOTÕES -->
          <button class="btn-sm btn-sucess" 
                  (click) = "openModal(template)"
                  tooltip = "editar"> <!-- btn-sm DEIXA O BOTAO PEQUENO --> <!-- tooltip MSG EMCIMA DO BOTAO -->
            <i class="fa fa-edit"></i> <!-- ICONE DE EDIÇÃO -->
          </button>
          <button class="btn-sm btn-danger" tooltip = "excluir">
            <i class="fa fa-eraser"></i> <!-- ICONE DE APAGAR -->
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>


<!-- ------------------------------ TEMPLATE MODAL ------------------------------ -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" 
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>


<!-- ----------------------- ESTRUTURA DO FORMULARIO ------------------------- -->

<form [formGroup]="registerForm"> <!-- Adiciona no app module o provider nos imports -->

  <div class="form-row"> 
    <div class="form-group col-md-12"> <!-- SEMPRE QUE TRABALHAR COM FORM-ROW TEM QUE INFORMAR TAMANHO DA DIV (12 COLUNAS)-->
      <label>Tema</label>
      
      <!--  O ngClass serve para inserir uma propriedade na classe baseado em uma condição do formulário -->
      <input type="text" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}" 
       formControlName = "tema" placeholder=" Insira o Tema"> <!-- mesmo nome do Evento.ts --> 
      
      <!-- mensagem para a obrigatoriedade do campo -->
      <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" class="invalid-feedback"> 
        Tema é obrigatório.
      </div>
      <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" class="invalid-feedback"> 
        Tema deve ter no mínimo 4 caracters.
      </div>
      <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" class="invalid-feedback">
        Tema deve ter no máximo 50 caracters.
      </div>

    </div>
  </div>  

  <div class="form-row">  <!-- DIVIDIMOS ENTRE 2 DIVS NESSE CASO (8 COLUNAS E 4 COLUNAS) -->
    <div class="form-group col-md-8">
      <label>Local</label>
      <input type="text" class="form-control is-invalid" formControlName = "local">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Local é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Data e Hora</label>
      <input type="text" class="form-control is-invalid" formControlName = "dataEvento">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Data e hora é obrigatório.
      </div>
    </div>
  </div> 

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Qtd Pessoas</label>
      <input type="text" class="form-control is-invalid" formControlName = "qtdPessoas">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Quantidade de pessoas é obrigatória.
      </div>
    </div>
    <div class="form-group col-md-9">
      <label>Imagem</label>
      <input type="text" class="form-control is-invalid" formControlName = "imagemURL">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Imagem é obrigatória.
      </div>
    </div>
  </div> 

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Telefone</label>
      <input type="text" class="form-control is-invalid" formControlName = "telefone" placeholder="">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Telefone é obrigatório.
      </div>
    </div>
    <div class="form-group col-md-8">
      <label>Email</label>
      <input type="text" class="form-control is-invalid" formControlName = "email" placeholder="">
      <div class="invalid-feedback"> <!-- mensagem para a obrigatoriedade do campo -->
        Email é obrigatório.
      </div>
    </div>
  </div> 

</form>
<br>
<button class="btn btn-secondary" (click)="openModal(template)">
  Fechar
</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>